.baslik{
    justify-content:center;
    display:flex;
}
.grades{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:2.5rem;
}
.counters{
    display:flex;
    justify-content:center;
    margin-top:2.5rem;
    align-items:center;
}
.counter{
    display:flex;
    justify-content:center;
    margin-top:2.5rem;
}