.baslik{
    align-items: center;
    position:absolute;
    display:flex;
    right:40rem;
}
.grades{
    position:absolute;
    top:20%;
    left:40rem;
    align-items:center;
}
.counters{
    position:absolute;
    top:30%;
    left:40rem;
    align-items:center;
}
.counter{
    position:relative;
    left:2.5rem;
}